(Kaggle games Dataset)

 We will be using the [games Dataset](https://www.kaggle.com/gutsyrobot/games-data/data) from Kaggle.

In [4]:
import pandas as pd
import os
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

**Q.no(1). load the Data 'games.csv' as games.**

In [3]:
games=pd.read_csv('games.csv')
games|

SyntaxError: invalid syntax (<ipython-input-3-9caf83b42fbf>, line 2)

In [10]:
games[games['name'].str.startswith('w',na=False)]

,id,type,name,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,minage,users_rated,average_rating,bayes_average_rating,total_owners,total_traders,total_wanters,total_wishers,total_comments,total_weights,average_weight
10101,4092,boardgame,wordXchange,2000.0,2.0,4.0,30.0,30.0,30.0,10.0,63,5.69762,5.51704,101,18,1,4,34,8,1.75
46518,57108,boardgame,"whatever, you moron.",0.0,2.0,4.0,0.0,0.0,0.0,10.0,0,0.00000,0.00000,2,0,1,1,0,0,0.00
49832,67945,boardgame,wiat Dinozaurw,2009.0,2.0,4.0,30.0,30.0,30.0,6.0,4,6.00000,0.00000,5,1,0,0,0,1,2.00
57622,110294,boardgame,www.das-quiz.de,2000.0,2.0,12.0,45.0,45.0,45.0,8.0,0,0.00000,0.00000,1,0,0,0,1,0,0.00
59623,118414,boardgame,word MAX,1995.0,1.0,4.0,0.0,0.0,0.0,6.0,0,0.00000,0.00000,1,0,0,0,0,0,0.00
67711,144458,boardgameexpansion,wiecino 1462,2005.0,2.0,3.0,60.0,60.0,60.0,14.0,1,6.00000,0.00000,4,0,0,0,0,0,0.00
78430,176574,boardgame,wish you were here...?,2003.0,2.0,4.0,30.0,10.0,30.0,8.0,1,6.00000,0.00000,1,0,0,0,1,0,0.00

In [10]:
games.pivot_table(['yearpublished','minplayers','maxplayers'],['type'],aggfunc=[np.mean,np.std])

                         mean                                 std             \
                   maxplayers minplayers yearpublished maxplayers minplayers
type
boardgame            5.549797   2.010125   1785.782595  59.867724   0.873476
boardgameexpansion   6.231033   1.869806   1947.347217  13.327939   1.245338


                   yearpublished
type
boardgame             613.828659
boardgameexpansion    343.839532

In [12]:
df=[col for col in games if col.startswith('m')]
games[df]

       minplayers  maxplayers  minplaytime  maxplaytime  minage
0             2.0         2.0        180.0        180.0    13.0
1             2.0         5.0         60.0        150.0    12.0
2             1.0         7.0         30.0        210.0    12.0
3             2.0         4.0        240.0        240.0    12.0
4             2.0         5.0         90.0        150.0    12.0
...           ...         ...          ...          ...     ...
81307         1.0         1.0         30.0          0.0    10.0
81308         2.0         0.0          0.0          0.0    12.0
81309         2.0        15.0          1.0          1.0     0.0
81310         2.0         4.0         30.0         60.0     8.0
81311         1.0         6.0         10.0         10.0     2.0

[81312 rows x 5 columns]

-----

**Q.no(2). Check the head of the DataFrame.**

In [13]:
games.head()

,id,type,name,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,minage,users_rated,average_rating,bayes_average_rating,total_owners,total_traders,total_wanters,total_wishers,total_comments,total_weights,average_weight
0,12333,boardgame,Twilight Struggle,2005.0,2.0,2.0,180.0,180.0,180.0,13.0,20113,8.33774,8.22186,26647,372,1219,5865,5347,2562,3.4785
1,120677,boardgame,Terra Mystica,2012.0,2.0,5.0,150.0,60.0,150.0,12.0,14383,8.28798,8.14232,16519,132,1586,6277,2526,1423,3.8939
2,102794,boardgame,Caverna: The Cave Farmers,2013.0,1.0,7.0,210.0,30.0,210.0,12.0,9262,8.28994,8.06886,12230,99,1476,5600,1700,777,3.7761
3,25613,boardgame,Through the Ages: A Story of Civilization,2006.0,2.0,4.0,240.0,240.0,240.0,12.0,13294,8.20407,8.05804,14343,362,1084,5075,3378,1642,4.1590
4,3076,boardgame,Puerto Rico,2002.0,2.0,5.0,150.0,90.0,150.0,12.0,39883,8.14261,8.04524,44362,795,861,5414,9173,5213,3.2943

-----

**Q.no(3)How many rows and columns are there.**

In [14]:
games.shape

(81312, 20)

-----

**Q.no(4). What is the average Playingtime of all the players in the dataset.**

In [20]:
games['playingtime'].mean()

51.63478827682052

-------------------

**Q.no(5).What is the highest number of comments received for a game.**

In [22]:
games['total_comments'].max()

11798

-------

**Q.no(6).What is the name of the game with id 1500.**

In [25]:
games[games['id']==1500]

,id,type,name,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,minage,users_rated,average_rating,bayes_average_rating,total_owners,total_traders,total_wanters,total_wishers,total_comments,total_weights,average_weight
10592,1500,boardgame,Zocken,1999.0,2.0,8.0,30.0,30.0,30.0,8.0,38,5.60184,5.50547,62,4,0,4,13,6,1.1667

In [8]:
games[games['id']==1600]['yearpublished']

13270    1986.0
Name: yearpublished, dtype: float64

------

**Q.no(7).which year was game with id 1600 was published.**

In [27]:
games[games['id']==1600]['yearpublished']

13270    1986.0
Name: yearpublished, dtype: float64

In [11]:
games[games['total_comments']==11798]

,id,type,name,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,minage,users_rated,average_rating,bayes_average_rating,total_owners,total_traders,total_wanters,total_wishers,total_comments,total_weights,average_weight
165,13,boardgame,Catan,1995.0,3.0,4.0,90.0,90.0,90.0,10.0,53680,7.34303,7.21171,73188,1071,391,3201,11798,5996,2.3712
1965,13,boardgame,Catan,1995.0,3.0,4.0,90.0,90.0,90.0,10.0,53680,7.34303,7.21171,73188,1071,391,3201,11798,5996,2.3712

-----

**Q.no(8).Which game has received highest number of comments.**

In [30]:
games['total_comments'].idxmax()
games.iloc[165]['name']

'Catan'

In [17]:
games['total_comments'].idxmin()
games.iloc[13048]['name']

'Looney Leo'

-----

**Q.no(9).Which games have received least number of comments**

In [33]:
games['total_comments'].idxmin()
games.iloc[13048]['name']

'Looney Leo'

-----

**Q.no(10).How many unique games are there in the dataset.**

In [21]:
len(games['name'].unique())
games.nunique()[2:3]

name    76035
dtype: int64

----

**Q.no(11).How many boardgames and boardgameexpansions are there in the dataset.**

In [2]:
games['type'].value_counts().plot(kind='bar')

NameError: name 'games' is not defined

----

**Q.no(12) Show the average ratings of games in ascending order.**

In [38]:
games.sort_values(by='average_rating')

,id,type,name,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,minage,users_rated,average_rating,bayes_average_rating,total_owners,total_traders,total_wanters,total_wishers,total_comments,total_weights,average_weight
81311,184451,boardgame,Bingo Animal Kids,2010.0,1.0,6.0,10.0,10.0,10.0,2.0,0,0.0,0.0,0,0,0,0,0,0,0.0
46614,57399,boardgame,Kugel-Duell,1980.0,2.0,2.0,15.0,15.0,15.0,8.0,0,0.0,0.0,1,0,1,0,0,0,0.0
46615,57401,boardgame,"Langohr, Schlitzohr, Rbe & Co",1983.0,2.0,4.0,15.0,15.0,15.0,5.0,0,0.0,0.0,2,1,0,0,1,0,0.0
46616,57402,boardgame,Latty Top,1983.0,2.0,4.0,30.0,30.0,30.0,8.0,0,0.0,0.0,0,0,0,0,0,0,0.0
46617,57407,boardgame,Golden Years Retirement Adventure Game,1988.0,2.0,6.0,0.0,0.0,0.0,0.0,0,0.0,0.0,1,1,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76117,170606,boardgame,AEROSTAR,2014.0,2.0,5.0,60.0,60.0,60.0,12.0,2,10.0,0.0,3,0,0,0,1,1,5.0
76116,170604,boardgame,Renegade,2015.0,1.0,4.0,90.0,30.0,90.0,11.0,1,10.0,0.0,4,0,4,42,2,0,0.0
55328,98868,boardgame,The Puzzler,0.0,2.0,4.0,60.0,60.0,60.0,10.0,1,10.0,0.0,1,0,0,0,0,1,1.0
80276,181491,boardgame,Filthy Mime,2015.0,3.0,0.0,90.0,30.0,90.0,17.0,3,10.0,0.0,1,0,0,3,3,0,0.0
64898,135036,boardgameexpansion,Kingdom Death: Monster Gorm Expansion,2015.0,1.0,6.0,30.0,30.0,30.0,18.0,1,10.0,0.0,36,0,2,4,3,1,4.0

----

**Q.no(13) Show the average ratings of games in ascending order.**

In [39]:
games.sort_values(by='average_rating')

,id,type,name,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,minage,users_rated,average_rating,bayes_average_rating,total_owners,total_traders,total_wanters,total_wishers,total_comments,total_weights,average_weight
81311,184451,boardgame,Bingo Animal Kids,2010.0,1.0,6.0,10.0,10.0,10.0,2.0,0,0.0,0.0,0,0,0,0,0,0,0.0
46614,57399,boardgame,Kugel-Duell,1980.0,2.0,2.0,15.0,15.0,15.0,8.0,0,0.0,0.0,1,0,1,0,0,0,0.0
46615,57401,boardgame,"Langohr, Schlitzohr, Rbe & Co",1983.0,2.0,4.0,15.0,15.0,15.0,5.0,0,0.0,0.0,2,1,0,0,1,0,0.0
46616,57402,boardgame,Latty Top,1983.0,2.0,4.0,30.0,30.0,30.0,8.0,0,0.0,0.0,0,0,0,0,0,0,0.0
46617,57407,boardgame,Golden Years Retirement Adventure Game,1988.0,2.0,6.0,0.0,0.0,0.0,0.0,0,0.0,0.0,1,1,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76117,170606,boardgame,AEROSTAR,2014.0,2.0,5.0,60.0,60.0,60.0,12.0,2,10.0,0.0,3,0,0,0,1,1,5.0
76116,170604,boardgame,Renegade,2015.0,1.0,4.0,90.0,30.0,90.0,11.0,1,10.0,0.0,4,0,4,42,2,0,0.0
55328,98868,boardgame,The Puzzler,0.0,2.0,4.0,60.0,60.0,60.0,10.0,1,10.0,0.0,1,0,0,0,0,1,1.0
80276,181491,boardgame,Filthy Mime,2015.0,3.0,0.0,90.0,30.0,90.0,17.0,3,10.0,0.0,1,0,0,3,3,0,0.0
64898,135036,boardgameexpansion,Kingdom Death: Monster Gorm Expansion,2015.0,1.0,6.0,30.0,30.0,30.0,18.0,1,10.0,0.0,36,0,2,4,3,1,4.0

----

**Q.no(14).What is the dense rank order of the games as per there average rating.**

In [41]:
games['dense rank']=games['average_rating'].rank(method='dense')
games

,id,type,name,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,minage,...,average_rating,bayes_average_rating,total_owners,total_traders,total_wanters,total_wishers,total_comments,total_weights,average_weight,dense rank
0,12333,boardgame,Twilight Struggle,2005.0,2.0,2.0,180.0,180.0,180.0,13.0,...,8.33774,8.22186,26647,372,1219,5865,5347,2562,3.4785,17105.0
1,120677,boardgame,Terra Mystica,2012.0,2.0,5.0,150.0,60.0,150.0,12.0,...,8.28798,8.14232,16519,132,1586,6277,2526,1423,3.8939,17041.0
2,102794,boardgame,Caverna: The Cave Farmers,2013.0,1.0,7.0,210.0,30.0,210.0,12.0,...,8.28994,8.06886,12230,99,1476,5600,1700,777,3.7761,17044.0
3,25613,boardgame,Through the Ages: A Story of Civilization,2006.0,2.0,4.0,240.0,240.0,240.0,12.0,...,8.20407,8.05804,14343,362,1084,5075,3378,1642,4.1590,16909.0
4,3076,boardgame,Puerto Rico,2002.0,2.0,5.0,150.0,90.0,150.0,12.0,...,8.14261,8.04524,44362,795,861,5414,9173,5213,3.2943,16788.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81307,184441,boardgameexpansion,Micro Rome: Aegyptus,2015.0,1.0,1.0,0.0,30.0,0.0,10.0,...,0.00000,0.00000,0,0,0,0,0,0,0.0000,1.0
81308,184442,boardgame,Trivial Pursuit: Marvel Cinematic Universe Da...,2013.0,2.0,0.0,0.0,0.0,0.0,12.0,...,0.00000,0.00000,0,0,0,0,0,0,0.0000,1.0
81309,184443,boardgame,BEARanoia,2015.0,2.0,15.0,1.0,1.0,1.0,0.0,...,0.00000,0.00000,0,0,0,0,0,0,0.0000,1.0
81310,184449,boardgame,Freight,2015.0,2.0,4.0,60.0,30.0,60.0,8.0,...,0.00000,0.00000,0,0,0,0,0,0,0.0000,1.0
81311,184451,boardgame,Bingo Animal Kids,2010.0,1.0,6.0,10.0,10.0,10.0,2.0,...,0.00000,0.00000,0,0,0,0,0,0,0.0000,1.0

------

-------